body{
    margin: 0;
    padding: 0;
}
/* TOP */

nav{
    display: flex;
    background: url(./Images/nav\ bg.jpg);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    margin-left: 10px;
    width: 90px;
    height: 35px;
    border-radius: 8px;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none; 
    margin-top: 10px; 
}

.menu ul li {
    margin: auto 25px;   
}

.menu ul li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: white;
    text-decoration: none; 
    font-weight: bold; 
    font-size: 20px;
    padding: 5px;

}
.menu ul li a:hover{
    color: black;
    background-color: whitesmoke;
    border-radius: 20px;
}

.search input{
    height: 30px;
    width: 170px;
    text-align: center;
}

.search button{
    font-size: 15px;
    margin-right: 20px;
}
/* Middle */


.container2 h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 10px;
}
.image img{
    width: 550px;
    height: 550px;
    margin: 20px 60px;
}
.description{
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr ;
    height: 200px;
    padding: 20px;
}
.description h3{
    grid-area: 1/1/2/3;
}
.description p{
    grid-area: 2/1/3/-1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.price{
    grid-area: 3/1/4/-1;
    margin-left: 120px;
    font-size: 40px;
}
.description select{
    font-size: 20px;
    grid-area: 3/2/4/3;
    text-align: center;
    height: 30px;
    margin-top: 10px;
    width: 300px;
  
}
.description button{
    font-size: 30px;
    width: 300px;
    margin-top: 20px;
}
.button1{
   grid-area: 4/1/5/2;
}
.button2{
    grid-area: 4/2/5/-1;

}





/* Bottom */
.foot{
    margin-top: 20px;
}
.foot a {
    margin: 10px;
    color: white;
    text-decoration: none;
}
footer {
    background: url(./Images/nav\ bg.jpg);
    height: 80px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}